<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Для доступа к вашей локации</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.EDCH</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict/>
	</array>
	<key>Environment</key>
	<string>$(environment)</string>
	<key>GoogleAPIkey</key>
	<string>$(Google_API_key)</string>
	<key>HostURL</key>
	<string>$(HOST_URL)</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
